<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="mall.ProductMapper">
	
	<select id="getProductTodayList" parameterType="com.onejoymcc.vo.TodayVO" resultType="java.util.Map">
        <![CDATA[
            SELECT
                *,
                (select code.code_name from code where code.code='product_delivery_type' and code.code_value =product.product_delivery_type) as product_delivery_type_name,
                (select Z.product_made_company_name from product_made_company Z where Z.product_made_company_cd=product.product_made_company_cd) as product_made_company_name,
                (select code.code_name from code where code.code='product_sale_yn' and code.code_value =product.product_sale_yn) as product_sale_yn_name,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 1) as file_1
            FROM product  where 1=1
            and CASE WHEN product_validity_yn ='Y' THEN product_validity_end > now() ELSE TRUE END
        ]]>
        <if test="product_cd_array != null">
            and product_cd IN (
            <foreach item="item" index="index" collection="product_cd_array" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="product_sale_yn != null"> <![CDATA[AND product_sale_yn= #{product_sale_yn} ]]></if>
        <if test="product_use_yn != null"> <![CDATA[AND product_use_yn= #{product_use_yn} ]]></if>
        <if test="product_use_member_yn != null"> <![CDATA[AND product_use_member_yn= #{product_use_member_yn} ]]></if>
    </select>
    
    <select id="getProductList" parameterType="com.onejoymcc.board.common.SearchVO" resultType="java.util.Map">
        <![CDATA[
            SELECT
                *,
                (select code.code_name from code where code.code='product_delivery_type' and code.code_value =product.product_delivery_type) as product_delivery_type_name,
                (select Z.product_made_company_name from product_made_company Z where Z.product_made_company_cd=product.product_made_company_cd) as product_made_company_name,
                (select code.code_name from code where code.code='product_sale_yn' and code.code_value =product.product_sale_yn) as product_sale_yn_name,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 1) as file_1,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 2) as file_2,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 3) as file_3,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 4) as file_4,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 5) as file_5,
                (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 6) as file_6
            FROM product  where 1=1 and product_live_type is not null
        ]]>
        <if test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
            <foreach item="item" index="index" collection="searchTypeArr" separator=" OR " open="AND (" close=")">
                ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
            </foreach>
        </if>
        <if test="product_name != null"> <![CDATA[AND product_name LIKE CONCAT('%', #{product_name},'%' ) ]]></if>
        <if test="product_sale_yn != null"> <![CDATA[AND product_sale_yn= #{product_sale_yn} ]]></if>
        <if test="product_use_yn != null"> <![CDATA[AND product_use_yn= #{product_use_yn} ]]></if>
        <if test="product_ct != null"> <![CDATA[AND find_in_set(#{product_ct},replace(product_ct,'|',',')) > 0 ]]></if>
        <if test="mainViewType != null"> <![CDATA[AND find_in_set('Y',replace(${mainViewType},'|',',')) > 0 ]]></if>
        <if test="orderByKey != null"> order by ${orderByKey} ${orderByValue}</if>
        <if test="orderByKey == null"> order by product_id DESC </if>
        LIMIT ${rowStart-1}, ${displayRowCount}
    </select>
    <select id="getProductListCount" parameterType="com.onejoymcc.board.common.SearchVO" resultType="Integer">
        <![CDATA[
        SELECT
            count(*) as cnt
        FROM product  where 1=1
        ]]>
        <if test="searchKeyword!=null and searchKeyword!='' and searchType!=''">
            <foreach item="item" index="index" collection="searchTypeArr" separator=" OR " open="AND (" close=")">
                ${item} LIKE CONCAT('%', #{searchKeyword},'%' )
            </foreach>
        </if>
        <if test="product_name != null"> <![CDATA[AND product_name LIKE CONCAT('%', #{product_name},'%' ) ]]></if>
        <if test="product_sale_yn != null"> <![CDATA[AND product_sale_yn= #{product_sale_yn} ]]></if>
        <if test="product_use_yn != null"> <![CDATA[AND product_use_yn= #{product_use_yn} ]]></if>
        <if test="product_ct != null"> <![CDATA[AND find_in_set(#{product_ct},replace(product_ct,'|',',')) > 0 ]]></if>
        <if test="mainViewType != null"> <![CDATA[AND find_in_set('Y',replace(${mainViewType},'|',',')) > 0 ]]></if>
    </select>
    <select id="getProductViewDetail" parameterType="java.util.Map" resultType="java.util.Map">
        select
         *,
            (select code.code_name from code where code.code='product_brand' and code.code_value =product.product_brand) as product_brand_name,
            (select code.code_name from code where code.code='product_delivery_type' and code.code_value =product.product_delivery_type) as product_delivery_type_name,
            (select Z.product_made_company_name from product_made_company Z where Z.product_made_company_cd=product.product_made_company_cd) as product_made_company_name,
            (select code.code_name from code where code.code='product_sale_yn' and code.code_value =product.product_sale_yn) as product_sale_yn_name,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 1) as file_1,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 2) as file_2,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 3) as file_3,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 4) as file_4,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 5) as file_5,
            (select product_file.file_link from product_file where product_file.key_id = product.product_cd and product_file.file_order = 6) as file_6
        from product where product_cd=#{product_cd}
    </select>
    <select id="getUserProductPaymentList" resultType="java.util.HashMap">
        <![CDATA[
        SELECT
            A.*,
            (select Z.product_cd from product Z where Z.product_id=A.product_id) as product_cd,
            (select Z.product_name from product Z where Z.product_id=A.product_id) as product_name
        FROM product_payment_history A  where 1=1
        ]]>

        <if test="pd_payment_user_id != null"> <![CDATA[AND A.coupon_id= #{pd_payment_user_id} ]]></if>
        <if test="start_date != null"><![CDATA[AND A.reg_date >= #{start_date} ]]></if>
        <if test="end_date != null"><![CDATA[AND A.reg_date < #{end_date} ]]></if>
        <if test="product_cd != null"> <![CDATA[AND product_cd= #{product_cd} ]]></if>
        <if test="pd_payment_amount != null"> <![CDATA[AND product_cd= #{product_cd} ]]></if>
        <if test="product_name != null"> <![CDATA[AND product_name= #{product_name} ]]></if>
        <if test="pd_payment_cd != null"> <![CDATA[AND A.coupon_paid_class_cd= #{pd_payment_cd} ]]></if>
        <if test="pd_payment_class_cd != null"> <![CDATA[AND A.coupon_paid_class_cd= #{pd_payment_class_cd} ]]></if>
    </select>
    <select id="getUserProductPaymentListCount" resultType="java.util.HashMap">
        <![CDATA[
        SELECT
            count(*) as cnt
        FROM product_payment_history A  where 1=1
        ]]>

        <if test="pd_payment_user_id != null"> <![CDATA[AND A.coupon_id= #{pd_payment_user_id} ]]></if>
        <if test="start_date != null"><![CDATA[AND A.reg_date >= #{start_date} ]]></if>
        <if test="end_date != null"><![CDATA[AND A.reg_date < #{end_date} ]]></if>
        <if test="product_cd != null"> <![CDATA[AND product_cd= #{product_cd} ]]></if>
        <if test="pd_payment_amount != null"> <![CDATA[AND product_cd= #{product_cd} ]]></if>
        <if test="product_name != null"> <![CDATA[AND product_name= #{product_name} ]]></if>
        <if test="pd_payment_cd != null"> <![CDATA[AND A.coupon_paid_class_cd= #{pd_payment_cd} ]]></if>
        <if test="pd_payment_class_cd != null"> <![CDATA[AND A.coupon_paid_class_cd= #{pd_payment_class_cd} ]]></if>
    </select>
	<select id="sameSupplierProductList" parameterType="hashmap" resultType="hashmap">
    	SELECT *,
    		(select Z.file_link from product_file Z where Z.key_id = A.product_cd and Z.file_order = 1) as file_1
		FROM product A
		WHERE WHERE A.product_live_type is not null
		AND A.product_supplier = (select Z.product_supplier FROM product Z WHERE Z.product_cd = #{product_cd})
		ORDER BY reg_date DESC
		LIMIT ${rowStart-1}, ${displayRowCount}
    </select>
    
    <select id="relatedProductList" parameterType="hashmap" resultType="hashmap">
    	SELECT *,
    		(select Z.file_link from product_file Z where Z.key_id = A.product_cd and Z.file_order = 1) as file_1
		FROM product A
		WHERE A.product_live_type is not null
       	<foreach collection="product_cts" item="item" separator="OR" open="AND (" close=")">
        		<![CDATA[FIND_IN_SET(#{item},replace(A.product_ct,'|',',')) ]]>
       	</foreach>
		ORDER BY reg_date DESC
		LIMIT ${rowStart-1}, ${displayRowCount}
    </select>
    
    <select id="serialProductList" parameterType="hashmap" resultType="hashmap">
    	SELECT A.*,
			   (select Z.file_link from product_file Z where Z.key_id = A.product_cd and Z.file_order = 1) as file_1
		FROM product A
		JOIN product_history B
		ON B.product_current = A.product_cd
		WHERE A.product_live_type is not null
		AND (B.product_prev = #{product_cd}
		OR B.product_next = #{product_cd})
		AND B.product_current != #{product_cd}
		GROUP BY B.product_current
		ORDER BY COUNT(B.product_current) DESC
		LIMIT ${rowStart-1}, ${displayRowCount}
    </select>
</mapper>
